version: "3.1"
services:
  charts:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8083:8083
    environment:
      PORT: 8083
      SESSION_ID: "${SESSION_ID}"
    restart: always
